.home-container, .socials-container {
  display: flex;
  justify-content: center;
}

.home-container {
  padding: 60px;
  overflow: hidden;
}

.profile-pic-container, .info-container{
  padding: 40px;
}

.profile-pic-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-pic {
  width: 40vh;
  border-radius: 50%;
  border: 7px solid white;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: .5rem;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 700;
  text-align: left;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: .5rem;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 500;
  text-align: left;
}

.info-mini-bio {
  font-family: "Roboto", Helvetica, sans-serif; 
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: .5rem;
}

.info-mini-bio-section {
  padding: 10px;
}

.info-title {
  margin-bottom: .5rem;
}

.emoji {
  padding-right: 1.5rem;
}

.socials-container {
  padding: 1rem 0;
  gap: 2.5rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.fa:hover {
  transform: scale(1.05);
}

.email:hover, .resume:hover{
  cursor: pointer;
}

.resume, .email {
  font-weight: 400;
  text-decoration: none;
}

.github:hover {
  background-image: linear-gradient(#862294, #522377);
  background-clip: text;
  color: transparent;
}

.linkedin:hover {
  color: #0966C2;
}

.youtube:hover {
  color: #FF0000
}

.arrow {
  font-size: .8rem;
}

.info-icons {
  display: flex;
  margin: .75rem 0;
  gap: .25rem;
  flex-wrap: wrap;
  justify-content: center;
}