/* Phone  */
@media only screen and (max-width: 420px) {
  .home-container {
    display: block;
    padding: 0 1rem 1rem 1rem;
  }
  .info-container {
    align-items: center;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }
  .profile-pic {
    width: 25vh;
  }
  h1 {
    margin-top: 0;
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  nav {
    padding: 30px;
    justify-content: flex-start;
  }
  .nav-link {
    padding: 10px 25px 10px 10px;
  }
  .toggle {
    padding: 0
  }
  .profile-pic-container {
    padding: 0 .25rem .5rem .25rem;
  }
  .terminal-container {
    padding: 0 0 30px 0;
  }
  .about-container {
    padding: 0 30px 30px 30px;
  }
  .terminal-content {
    padding: .75rem;
    font-size: .85rem;
  }
  .project-container {
    padding: 0 .5rem 2rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
  }
  .portfolio-pic {
    height: 28vh;
  }
  .portfolio-pic-container {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .portfolio-btn {
    font-size: .5rem;
  }
  .portfolio-btns {
    width: 15rem;
  }
  .work-logo-container, .school-logo-container {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .school-logo, .work-logo {
    height: 6vh;
    justify-content: center;
  }
  .school-container, .job-container {
    padding: .75rem;
    margin: 1.25rem 0;
    flex-direction: column;
  }
  .school-name, .work-position {
    font-size: 1.1rem;
  }
  .work-details, .school-details {
    padding: .25rem;
    font-size: .75rem;
  }
  .work-container, .education-container {
    padding: 0;
  }
  .detail, .school-name, .work-position  {
    margin: .25rem 0;
  }
  .terminal-interests {
    display: flex;
    columns: 0;
    flex-direction: column;
  }
  .portfolio-info-container {
    align-items: center;
    width: 15rem;
  }
  .portfolio-title-container {
    text-align: center;
  }
  .portfolio-description {
    font-size: .7rem;
  }
  .portfolio-title {
    margin: .5rem;
    font-size: 1.25rem;
  }
  .projects-container {
    margin-bottom: 2rem;
  }
  .info-icons {
    margin: .25rem 0;
    padding: 0 3rem;
  }
  .info-icon {
    height: 26px;
  }
  .socials-container {
    padding: .5rem 0;
  }
  .portfolio-icons {
    justify-content: center;
  }
  .portfolio-icon {
    width: 25px;
    height: 25px;
  }
}

/* Tablet  */
@media (min-width: 421px) and (max-width: 820px) {
  .home-container {
    display: block;
    padding: 0 .5rem .5rem .5rem;
  }
  .info-container {
    align-items: center;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    margin-top: 0
  }
  .socials-container {
    gap: 0 5rem;
  }
  .nav-link {
    padding: 10px 70px;
  }
  nav {
    padding: 30px;
    gap: 30px;
    justify-content: flex-start;
  }
  .terminal-container {
    padding: 0 0 40px 0;
  }
  .terminal-content {
    padding: .75rem;
    font-size: .85rem;
  }
  .about-container {
    padding: 0 40px 40px 40px;
  }
  .school-logo-container, .work-logo-container {
    padding: 0 .65rem 0 1.5rem;
  }
  .school-logo, .work-logo {
    height: 8vh;
  }
  .school-container, .job-container {
    padding: .25rem;
    margin: 1.25rem 0;
  }
  .school-name, .work-position {
    font-size: 1rem;
  }
  .work-details, .school-details {
    padding: .75rem;
    font-size: .75rem;
  }
  .work-container, .education-container {
    padding: 0;
  }
  .portfolio-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project-container {
    flex-direction: column;
  }
  .portfolio-info-container {
    align-items: center;
  }
  .portfolio-title-container {
    text-align: center;
    margin: .5rem;
  }
  .profile-pic-container {
    padding: .25rem;
  }
  .portfolio-icons {
    justify-content: center;
  }
  .portfolio-icon {
    height: 45px;
    width: 45px;
  }
  .info-icons {
    padding: 0 5rem;
  }
  .socials-container {
    padding: .25rem 0;
  }
}

@media (min-width: 821px) and (max-width: 1170px) {
  .home-container {
    display: block;
  }
  .info-container {
    align-items: center;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    margin-top: 0
  }
  .socials-container {
    gap: 0 5rem;
  }
  .nav-link {
    padding: 10px 70px;
  }
  nav {
    padding: 30px;
    gap: 30px;
    justify-content: center;
  }
  .about-container, .work-container, .education-container {
    padding: 0 40px 40px 40px;
  }
  .school-logo, .work-logo {
    height: 12vh;
  }
  .school-container, .job-container {
    padding: .75rem;
  }
  .work-details, .school-details {
    padding: .75rem;
  }
  .portfolio-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portfolio-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25rem;
  }
  .portfolio-title {
    font-family: "Roboto", Helvetica, sans-serif;
    color: inherit;
    font-weight: 700;
    font-size: 1.25rem;
    width: 20rem;
    margin: 0;
  }
  .portfolio-title-container {
    text-align: left;
  }
  .portfolio-description {
    font-size: .9rem;
    width: 23rem;
    text-align: left;
  }
  .projects-container {
    margin-bottom: 2rem;
    padding: 0;
  }
}

@media (min-width: 1171px) {
  nav {
    padding: 30px;
    gap: 30px;
    justify-content: center;
  }
  .nav-link {
    padding: 10px 150px;
  }
  .portfolio-pic {
    height: 35vh;
  }
  .portfolio-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-icon {
    height: 36px;
    width: 36px;
  }
}